@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/poppins/Poppins-Regular.woff2') format('woff2');
}

/* ------------------------------------
    RESETEO GENERAL Y FUENTE
------------------------------------ */
:root {
  --texto: #fff;
  --texto-opaco: #FFFFFF80;
  --invert: invert(1);
}

* {
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
::selection {
  background-color: #ff786e96;
}
main, button {
  color: var(--texto);
}
#randomBtn, .menu-toggle, .nav-list {
  -webkit-tap-highlight-color: transparent;
}
button,.menu-toggle {
  cursor: pointer;
}
/* ------------------------------------
    FONDO DE PARTÍCULAS Y GRADIENTE
------------------------------------ */
canvas#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  background: linear-gradient(90deg, #105775, #203a43, #772323, #c13512, #5c2e1e, #6d0f29);
}

body.claro {
  background: linear-gradient(90deg, #ffbe5b, #91ceff, #db6379, #ffcc8e, #ea72ff);
}

body, body.claro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  opacity: 1;
  background-size: 400% 400%;
  animation: fondo 20s ease-in-out infinite;
}

/* -----------CONTENIDO PRINCIPAL------------------ */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  justify-content: center;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 3rem;
  transition: color 1s ease;
  animation: loadtop 1s ease;
}
@keyframes loadtop {
  0% { transform: translateY(-50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes loadbottom {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

p {
  font-size: 1.2rem;
  color: var(--texto-opaco);
  transition: color 1s ease;
  animation: loadbottom 1s ease;
}

/* -----------BOTÓN CON GRADIENTE Y SOMBRA ANIMADA------------------ */
@keyframes fondo {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#randomBtn {background: linear-gradient(270deg, #791b1b, #1f705f, #7a4e5f, #9e3d5e, #8d2b13, #5f1472);}

#randomBtn.claro {background: linear-gradient(270deg,#fff281,#ffe387,#ff964c,#ff8bac,#ff7f7f,#ffb3b3,#b3ffff,#80e5ff,#67b0ff,#87ff91);}

#randomBtn, #randomBtn.claro {
  background-size: 1900% 1900%;
  animation: fondo 30s linear infinite;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  transition: transform .4s ease, color 1s ease;
  will-change: transform;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 5px;
}
#randomBtn:not(.desactivado) {
  animation: loadbottom 1s ease;
}

#randomBtn.activo:hover {
  transform: scale(1.1);
}
#randomBtn.desactivado {
  background: #888;
}

@keyframes sacudida-rotacion {
  0%, 100% { transform: rotate(0deg); }
  15% { transform: rotate(3deg); }
  30% { transform: rotate(-3deg); }
  45% { transform: rotate(2deg); }
  60% { transform: rotate(-2deg); }
  75% { transform: rotate(1deg); }
}
#randomBtn.desactivado:active {
  animation: sacudida-rotacion 0.5s ease;
}


/* -----------MODAL TIENES TIEMPO LIBRE------------------ */

#modalMensaje {
  display:none;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  position: fixed;
  top: 0; left: 0;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

.modal-content {
  backdrop-filter: blur(10px);
  border: 2px solid #fff;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


/* -----------ICONOS------------------ */

i, .fas{
  display: block;
  margin-right:5px;
  width: 16px;
  height: 16px;
  filter: var(--invert) ;
  opacity: .8;
  transition: filter 1s ease;
  pointer-events: none;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.girar {
  animation: girar 0.6s ease;
}
@keyframes pulso {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.pulso {
  animation: pulso 0.4s ease;
}
@keyframes girar-rebote {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.girar-rebote {
  animation: girar-rebote 1s ease;
}
@keyframes bounceGiro {
  0% { transform: rotate(0deg) translateY(0); }
  30% { transform: rotate(15deg) translateY(3px); }
  60% { transform: rotate(-10deg) translateY(-2px); }
  100% { transform: rotate(0deg) translateY(0); }
}
.bounce-giro {
  animation: bounceGiro .4s ease;
}
@keyframes reboteGlobo {
  0% { transform: rotate(0deg) scale(1); }
  40% { transform: rotate(5deg) scale(1.15); }
  70% { transform: rotate(-3deg) scale(1.05); }
  100% { transform: rotate(0deg) scale(1); }
}
.rebote-globo {
  animation: reboteGlobo .4s ease;
}

/* -----------HEADER------------------ */

/* ----- HEADER Y NAV ----- */
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav {
  display: flex;
  flex-direction: column;
  position: relative;
  animation: loadtop 1s ease;
}

.menu-toggle {
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 20;
}

.menu-toggle {
  & span {
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--texto);
    position: absolute;
    transition: background-color 1s ease, transform .3s ease, opacity .3s ease;
  }

  & span:nth-child(1) {
    top: 0;
  }

  & span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  & span:nth-child(3) {
    bottom: 0;
  }

  &.active {
    & span:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }
    & span:nth-child(2) {
      opacity: 0;
    }
    & span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

/* ----- NAV LIST ----- */
.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin: 1rem 1rem;
  max-height: 0;
  opacity: 1;
  pointer-events: auto;
  transition: max-height .5s ease, padding .5s ease, opacity .3s ease, margin .5s ease;
}

/* Animación rebote de items */
.nav-list.active li {
  opacity: 0;
  transform: translateY(10px);
  animation: bounceIn 0.4s ease forwards;
}

.nav-list.active li:nth-child(1) { animation-delay: 0.05s; }
.nav-list.active li:nth-child(2) { animation-delay: 0.1s; }
.nav-list.active li:nth-child(3) { animation-delay: 0.15s; }
.nav-list.active li:nth-child(4) { animation-delay: 0.2s; }
.nav-list.active li:nth-child(5) { animation-delay: 0.3s; }
.nav-list.active li:nth-child(6) { animation-delay: 0.4s; }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  60% {
    transform: translateY(-8px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----- NAV LIST ITEMS ----- */
.nav-list li button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease, color 1s ease;
  min-width: 8rem;
}


@media (hover: hover) {
  .navBoton:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* ----- CATEGORÍAS ----- */

.categorias-lista {
  display: flex;
  flex-direction: column;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  pointer-events: none;
}

.categorias-lista.active {
  padding: 0.2rem 0 0.2rem 1rem;
  gap: 1px;
}

#sonidoBtn,
#modoBtn{
  justify-content: start;
}

#instalarBtnLi {
  display: none;
}

/* ----- SUBCATEGORÍAS ----- */

.subcategorias-lista,
.categorias-lista {
  transition: max-height .2s ease, opacity .4s ease, padding .2s ease;
}
.subcategorias-lista {
  pointer-events: none;
  max-height: 0;
  opacity: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.subcategorias-lista.active {
  padding-top: 1px;
  padding-left: 1rem;
  transition: max-height 3s ease, opacity .6s ease, padding .3s ease;
}
.active {
  pointer-events: all;
  max-height: 1000px;
  opacity: 1;
}
button {
  backdrop-filter: blur(5px);
}


@media (hover: hover) {
  .subcategorias-lista button:hover, .categorias-lista button:hover {
  transform: translateX(5px);
}
}
.categoria-activa, .subcategoria-activa, .activasTodas {
  transform: translateX(5px);
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* ----- RESPONSIVE MOBILE ----- */
@media (max-width: 768px) {
  header {
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 10px #00000070;
  }
  nav {
    max-height: 100vh;
    overflow: auto;
    scrollbar-width: none; 
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; 
  }
  nav::-webkit-scrollbar {
    width: 0; 
  }
  .nav-list {
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    gap: 25px;
    margin: 0 1rem;
  }
  
  .nav-list.active {
    opacity: 1;
    pointer-events: auto;
    max-height: 1000px;
    margin: 3rem 1rem;
  }
  button:active {
    transform: scale(0.9);
  }
  .nav-list li button {
    justify-content: left;
    min-width: 150px;
  }
  
  #instalarBtnLi {
    display: block;
  }
  .menu-toggle {
    display: block;
    }
}

/* -----------FOOTER------------------ */

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: var(--texto-opaco);
  transition: color 1s ease;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  text-wrap: balance;
  animation: loadbottom 1s ease;
}
.finaltext,
#contador {
  font-size: 0.8rem;
  display: flex;
}

